@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div>
            <table style="width: 100%">
                <tr>
                    <td><p>Curator FullName</p></td>
                    <td></td>
                </tr>
                @foreach (var curator in ViewBag.Curators)
                {
                <tr>
                    <td><p>@curator.CuratorId</p></td>
                    <td><p>@curator.FullName</p></td>
                </tr>
                }

            </table>
            
            @using(Html.BeginForm("AddCurator", "Home"))
            {
                <input type="text" id="ss" name="qty" value="@ViewBag.CuratorId"/>
                <input type="submit" value="Update" />
            }
        </div>
    </div>
</div>